.add_post {
     margin-bottom: 3rem;
     box-shadow: 0 15px 25px rgba($black, .45);
     background-color: $secondary;
     border-radius: 5px;
     padding: 1.5rem 2rem;
}

.add_post_form {
    display: flex;
    align-items: center;
}

.add_post-textarea {
    display: block;
    width: 80%;
    height: 26px;
    font-family: inherit;
    font-size: 1.5rem;
    color: $white;
    border: none;
    background: transparent;
    resize: none;

    &::placeholder {
        color: #D2D2D2;
    }
}

.add_post_form-actions {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.add_post_file,
.add_post_send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: background-color .2s linear;
}


.add_post_file {
    background: #EBEBEB url("../images/add-photo.svg") center no-repeat;
    input {
        display: none;
    }

    &:hover {
        background-color: darken(#EBEBEB, 5%);
    }
}

.add_post_send {
    background-color: $blue;
    margin-left: 1.5rem;
    &:hover {
        background-color: darken($blue, 5%);
    }
}
