.stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 13px;
    grid-template-rows: 195px;
    margin-bottom: 3rem;
}

.stories_item {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba($black, .2);
    cursor: pointer;

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;

        background-image: linear-gradient(
            to bottom, 
            rgba($black, .8), 
            rgba($black, 0) 50%, 
            rgba($black, .8));

        top: 0;
        left: 0;
        z-index: 2;
    }

    &:hover {
        .stories_preview {
            transform: scale(1.3);
        }
    }
}

.stories_preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s ease-in-out;
    transform: scale(1.05);
}

.stories_title,
.stories_date {
    width: 100%;
    font-size: 1.2rem;
    color: $white;
    position: absolute;
    z-index: 3;
    padding: 14px;
    line-height: 1.3; 
}

.stories_title {
    left: 0;
    top: 0;
}

.stories_date {
    text-align: right;
    right: 0;
    bottom: 0;
}