<header class="header">
    <div class="header_left">
        <nav class="nav">
            <ul class="nav_items">
                <li class="nav_item">
                    <a class="nav_link" href="#">Home</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link nav_link--subnav" href="#">Posts</a>
                    <ul class="subnav">
                        <li><a class="subnav_link" href="#">Create Web page</a></li>
                        <li><a class="subnav_link" href="#">Marketing</a></li>
                        <li><a class="subnav_link" href="#">SEO Video</a></li>
                    </ul>
                </li>
                <li class="nav_item">
                    <a class="nav_link" href="#">Abaout me</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link" href="#">Reklama</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header_right">
        <nav class="nav">
            <ul class="nav_items">
                <li class="nav_item"><a class="nav_link" href="">Sign in</a></li>
                <li class="nav_item"><a class="nav_link" href="">Exit</a></li>
            </ul>
        </nav>
        <form class="search" method="POST">
            <input class="search_input" type="text" placeholder="Search in blog">
        </form>
    </div>
</header>
