<aside class="sidebar">
    <div class="sidebar_header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar_content">
        <div class="profile">
            <img class="profile_avatar" src="assets/images/avatar.jpg" alt="Avatar" />
            <div class="profile_name">
                Volodymyr Hotsak
            </div>
            <div class="profile_prof">
                Front end developer
            </div>
            <ul class="social">
                <li class="social_item"><a target="_blank" class="social_link" href="" alt="github">
                    <img src="assets/images/github-logo.svg" />
                </a></li>
                <li class="social_item"><a class="social_link" href="">
                    <img src="assets/images/linkedin-letters.svg" alt="linkedin" />
                </a></li>
                <li class="social_item"><a class="social_link" href="">
                    <img src="assets/images/facebook-logo.svg" alt="facebook" />
                </a></li>
            </ul>
        </div>
        <div class="content_text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi vero iure explicabo tenetur in accusantium, autem quia libero mollitia ullam.</p>
        </div>
    </div>
    <div class="sidebar_footer">
        <a class="btn btn--red" href="#">My works</a>
        <button class="btn btn--blue" type="button">Write me</button>
    </div>
</aside>